/* Fondo gris plata global  */
:root,
html, body, #app {
  background-color: #f2f2f2;
  min-height: 100%;
  height: 100%;
 --awo-red-dark: #8B0000;     /* rojo oscuro para navbar */
  --awo-red-intense: #C40000;  /* rojo intenso para botón salir */
  --pastel-pink: #FFD7E2;      /* fondo rosa pastel para cards y tabla */
}

#app {
  background-color: #f2f2f2;
}


body, #app, .app-root {
  background-color: #f2f2f2 !important;
}


.cards-grid {
  display: grid;
  gap: 3rem; /* gap mayor entre cards */
  padding: 1rem; /* padding alrededor del grid */
  grid-template-columns: repeat(3, minmax(0, 300px)); /* columnas fijas más estrechas */
  justify-content: center; /* centra el conjunto cuando hay espacio extra */
}

/* tablet / mobile breakpoint para 2 columnas */
@media (max-width: 992px) {
  .cards-grid {
     padding: 2rem; 
    grid-template-columns: repeat(2, minmax(0, 250px));
  }
}

@media (max-width: 576px) {
  .cards-grid {
    grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    padding: 0.5rem;
    gap: 0.75rem;
  
  }
}

